@import url("reset.css");

@font-face {
  font-family: "Makinas-4-Square";
  src: url("/font/Makinas-4-Square.ttf"), url("/font/Makinas-4-Square.woff");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* font-family: Makinas-4-Square; */
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 2rem;
}

.-none {
  display: none !important;
}

#logout-button{
  font-size: 1.5rem;
  border: none;
  background-color: #000;
  box-shadow: 0 0 5px #ffffff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

#logout-button:hover{
  background-color: #fff;
  box-shadow: 0 0 5px #000000;
  color: #000;
}

/* --------------NAV-------------- */
.bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px 0px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.bar > a {
  position: relative;
}

.bar .logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-left: -25px;
}
/* 
.bar>.ability {
    display: flex;
    width: fit-content;
    line-height: normal;
    color: #FFF;
    text-shadow: #45300D .1rem .1rem .4rem;
}

.bar .ability span {
    font-size: 1.5rem;
}


.bar .ability span:last-child {
    border: 1px solid #FFF;
    background-color: #45300D;
    width: 60px;
    height: 1.5rem;
    font-size: 0;
}

.bar .ability span div {
    width: 20%;
    height: 100%;
    background-color: #E3CEA1;
    display: inline-block;
    font-size: 1rem;
    padding-left: 2px;
}

.bar .ability li {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
}

.ability {
    flex: 0 0 calc(50% - 50px);
} */

.nav {
  text-align: right;
  /* flex: 1 0 calc(50% - 50px); */
  /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 50px); */
  /* display: flex;
    justify-content: end; */
  position: relative;
  z-index: 5;
}

.nav > a {
  margin-right: 10px;
  border-radius: 50%;
  float: right;
  border: #e3cea1 solid 2px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.bar .user {
  /* margin-right: 10px;
    border-radius: 50%;
    float: right;
    border: #E3CEA1 solid 2px;
    z-index: 1;
    position: relative; */
  transform: scale(2.5) translateY(25%);
}

/* .user_header {
    margin-right: 10px;
    border-radius: 50%;
    float: right;
    border: #E3CEA1 solid 2px;
} */

.widget {
  display: flex;
  justify-content: flex-end;
  color: #e3cea1;
}

.widget a {
  color: #e3cea1;
  width: 50px;
}

.widget i {
  font-size: 3rem;
  margin-right: 20px;
}

/* .compass {
    position: relative;
}

.compass li {
    background-color: #45300D;
    margin-top: 10px;
    padding: 35px 10px;
    border-radius: 50%;
}

.compass h4 {
    margin-top: 5px;
    white-space: nowrap;
} */

/* .widget i a:hover{
    opacity: 1;
    cursor: pointer;
} */

/* .nav > a:hover + .widget{
    opacity: 1;
    transition: .3s;
    cursor: pointer;
} */

.widget .fa-shopify {
  position: absolute;
  top: 5px;
  right: 82px;
  z-index: -1;
}

.widget .fa-calendar-check {
  position: absolute;
  top: 55px;
  right: 80px;
  z-index: -1;
}

.widget .fa-gamepad {
  position: absolute;
  top: 90px;
  right: 10px;
  z-index: -1;
}

.widget .fa-shopify:hover:after {
  content: "商城";
  position: absolute;
  top: 5px;
  right: 30px;
  width: 60px;
  font-size: 2rem;
}

.widget .fa-calendar-check:hover:after {
  content: "行程";
  position: absolute;
  top: 5px;
  right: 30px;
  width: 60px;
  font-size: 2rem;
}

.widget .fa-gamepad:hover:after {
  content: "遊戲";
  position: absolute;
  top: 5px;
  right: 40px;
  width: 60px;
  font-weight: 400;
  font-size: 2rem;
}

/* 
.nav > a:hover + .widget .fa-shopify {
    position: absolute;
    top: 5px;
    right: 78px;
    opacity: 1;
    z-index: -1;

}

.nav > a:hover + .widget .fa-calendar-check {
    position: absolute;
    top: 60px;
    right: 72px;
    opacity: 1;
    z-index: -1;
    transition: .4s;
}

.nav > a:hover + .widget .fa-gamepad {
    position: absolute;
    top: 83px;
    right: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
} */

/* .widget .fa-compass {
    position: absolute;
    top: 82px;
    right: -13px;
} */

/* --------------頁面標題及返回鍵-------------- */

.activity_title {
  position: relative;
  z-index: 1;
}

.activity_title > h1 {
  text-align: center;
}

.activity_title > svg {
  position: absolute;
}

.activity_title > svg:hover {
  animation: left 0.5s infinite;
  cursor: pointer;
}

@keyframes left {
  0% {
    left: 0px;
  }

  100% {
    left: -5px;
  }
}

/* --------------卷軸-------------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4b6264;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #79a0a5;
  border-radius: 10px;
}

/*---------------------------- 414 ------------------------------*/

@media screen and (max-width:414px){

  .activity_title > h1{
    margin-right: 20px;
  }
  
}