@import url("reset.css");

@font-face {
  font-family: "Makinas-4-Square";
  src: url("/font/Makinas-4-Square.ttf"), url("/font/Makinas-4-Square.woff");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* font-family: Makinas-4-Square; */
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 2rem;
}

/* --------------NAV-------------- */

.bar {
  display: flex;
  padding-top: 8px;
  padding-right: 10px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.bar > .ability {
  display: flex;
  width: fit-content;
  line-height: normal;
  color: #fff;
  text-shadow: #45300d 0.1rem 0.1rem 0.4rem;
}

.bar .ability span {
  font-size: 1.5rem;
}

.bar .ability span:last-child {
  /* border: 1px solid #FFF; */
  background-color: #45300d;
  width: 60px;
  height: 1.5rem;
  font-size: 0;
}

.bar .ability span div {
  width: 20%;
  height: 100%;
  background-color: #e3cea1;
  display: inline-block;
  font-size: 1rem;
  padding-left: 2px;
}

.bar .ability li {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
}

.ability {
  flex: 0 0 calc(50% - 50px);
}

.nav {
  text-align: right;
  flex: 1 0 calc(50% - 50px);
  position: relative;
  z-index: 3;
}

.user {
  margin-right: 10px;
  border-radius: 50%;
  float: right;
  border: #e3cea1 solid 2px;
}

.widget {
  display: flex;
  justify-content: flex-end;
  color: #e3cea1;
}

.widget a {
  color: #e3cea1;
}

.widget i {
  font-size: 3rem;
  margin-right: 20px;
}

/* .compass {
    position: relative;
}

.compass li {
    background-color: #45300D;
    margin-top: 10px;
    padding: 35px 10px;
    border-radius: 50%;
}

.compass h4 {
    margin-top: 5px;
    white-space: nowrap;
} */

.widget .fa-bell {
  position: absolute;
  top: 5px;
  right: 78px;
}

.widget .fa-sack-dollar {
  position: absolute;
  top: 49px;
  right: 72px;
}

.widget .fa-briefcase {
  position: absolute;
  top: 83px;
  right: 34px;
}

.widget .fa-compass {
  position: absolute;
  top: 82px;
  right: -13px;
}

/* --------------頁面標題及返回鍵-------------- */

.activity_title {
  position: relative;
  z-index: 1;
}

.activity_title > h1 {
  text-align: center;
}

.activity_title > svg {
  position: absolute;
}

.activity_title > svg:hover {
  animation: left 0.5s infinite;
  cursor: pointer;
}

@keyframes left {
  0% {
    left: 0px;
  }

  100% {
    left: -5px;
  }
}

/* --------------卷軸-------------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4b6264;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #79a0a5;
  border-radius: 10px;
}
