body {
  background-image: url(../../IMG/store/mall_room.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  min-width: 1200px;
  max-width: 1920px;
}

.activity_title {
  margin-left: 20px;
}

.activity_title a {
  position: absolute;
}

.activity_title a:hover {
  animation: left 0.5s infinite;
}

@keyframes left {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5px;
  }
}

/* .bar > .ability {
  text-shadow: #405366.1rem 0.1rem 0.4rem;
}

.bar .ability span:last-child {
  background-color: #405366;
}

.bar .ability span div {
  background-color: #a0c0e1;
} */

.user {
  border: #a0c0e1 solid 2px;
}

.widget {
  color: #a0c0e1;
}

.widget a {
  color: #a0c0e1;
}

.activity_title h1 {
  color: white;
  text-shadow: #405366.1rem 0.1rem 0.4rem;
}

.choose_wrapper {
  margin-top: 20px;
  display: flex;
}

.choose_wrapper h1{
  margin: 0 auto;
}

/* #choose {
  font-size: 2rem;
  text-align: center;
  background-color: #755c5c;
  color: white;
  margin: 0 auto;
  padding: 5px 0;
} */

.wrapper {
  display: flex;
  width: 100%;
}

/* 左邊選單 */
.nav_left {
  position: absolute;
  left: 10%;
  top: 23%;
  width: 20%;
  height: 70%;
  background-image: url(../../IMG/store/photo_frame.png);
  background-size: cover;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  background-size: 190% 132%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 77%;
  background-repeat: no-repeat;
  background-position: center;
}



.nav_left ul {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.nav_left ul li {
  
  color: rgb(0, 0, 0);
  width: 100px;
  margin: 15px auto 0;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
overflow: hidden;
font-weight: bold;

}


.nav_left h2 {
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  font-size: 2.5rem;
  
}

.nav_left h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color:#511D1C;
  text-shadow: #000000.1rem 0.1rem 0.4rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav_left li:hover h2 {
  font-size: 3.5em;
  color: #511D1C;
}

.nav_left li:hover h2::after {
  transform: scaleX(1);
}

.nav_left li:hover h2 {
  /* background-color: rgba(255, 255, 255, 0.64); */
}

/* 人偶 */
.coutainer {
  /* background-image: url(../../IMG/index/photo_frame_2.png); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 363.6px;
  height: 337.2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coutainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -62px;
  width: 135%;
  height: 80%;
  border-radius: 20px;
  background: #0000008f;
}


.doll {
  /* background-image: url(../../IMG/people/hair4.png),url(../../IMG/people/glasses.png),url(../../IMG/people/mask.png),url(../../IMG/people/m2.png),url(../../IMG/people/e2.png),url(../../IMG/people/eb3.png),url(../../IMG/people/top4.png),url(../../IMG/people/bottom4.png), url(../../IMG/people/body.png); */
  /* background-image: url(../../IMG/people/body.png); */
}

.coutainer .doll,
.coutainer .eyebrow,
.coutainer .eye,
.coutainer .mouth,
.coutainer .clothes,
.coutainer .bottoms,
.coutainer .accessories1,
.coutainer .hair,
.coutainer .accessories2,
.coutainer .accessories3 {
  width: 162.5px;
  height: 250px;
  position: absolute;
  top: 5%;
  left: 28%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  
}
.check {
  background-color: #000;
  box-shadow: 0 0 5px #ffffff;
  color: white;
  font-size: 1.5rem;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  position: absolute;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-weight: bold;
}

.check:hover {
  box-shadow: 0 0 5px #000000;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

.record{
  display: flex;
}

.record #pay_record{
  width: 50px;
  position: absolute;
  top: 88%;
  right: 12%;
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.406));
}

/* 下方選單 */
.nav_down {
  background: #ffffffaa;
  position: absolute;
  width: 500px;
  left: 50%;
  top: 80%;
  border-radius: 10px;
  transform: translate(-50%, -40%);
  overflow: hidden;
  cursor: pointer;
}

#nav_down_wrapper {
  display: flex;
  height: 120px;
  width: 480px;
  margin: 10px auto;
  overflow-y: hidden;
}

.number {
  cursor: pointer;
  display: flex;
  margin: 10px 20px;
}

.money {
  display: flex;
  margin-top: 120px;
  padding-right: 10px;
}

.money p {
  color: #000;
  margin-left: 5px;
}

#nav_down_wrapper::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

#nav_down_wrapper::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

#nav_down_wrapper::-webkit-scrollbar-track {
  background: #00000066;
  border-radius: 10px;
}


.doll ,.hair ,.clothes ,.bottoms ,.accessories1 
,.accessories2 ,.accessories3 ,.eyebrow ,.eye ,.mouth{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.mouth {
  overflow: hidden;
}

.doll img,
.hair img,
.clothes img,
.bottoms img,
.accessories1 img,
.accessories2 img,
.accessories3 img,
.glasses img,
.eyebrow img,
.eye img,
.mouth img{
  height: 100%;
}

/* 針對嘴巴另外設置大小 */
#nav_down_wrapper .mouth img{
  transform: scale( 500% ) translateY(5%);
}
/* 針對眼睛另外設置大小 */
#nav_down_wrapper .eye  img{
  transform: scale( 200% ) translateY(10%);
}
/* 針對眉毛另外設置大小 */
#nav_down_wrapper .eyebrow  img{
  transform: scale( 200% ) translateY(10%);
}
/* 針對褲子另外設置大小 */
#nav_down_wrapper .bottoms img{
  transform: scale( 100% ) translateY(-40%);
}
/* 針對上衣和另外設置大小 */
#nav_down_wrapper .clothes img {
  transform: scale( 100% ) translateY(-20%);
}

/* 針對頭髮和另外設置大小 */
#nav_down_wrapper .hair img {
  transform: scale( 90% ) translateY(-10%);
}


/*--------------------------- lightbox ---------------------------*/

/* 確認配件 */
.dresss_lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 5;
}

.dresss {
  background-color: #ffffffbb;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  border-radius: 30px;
}

.dresss_none {
  display: none;
}

.dresss > article {
  color: white;
  width: 75%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.fa-xmark {
  font-size: 3rem;
  margin-left: 90%;
  margin-top: 5%;
  cursor: pointer;
}

.buy_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dresss_choose {
  background-image: url(../../IMG/store/photo_frame_3.png);
  background-size: 53% auto;
  background-repeat: no-repeat;
  width: 606px;
  height: 562px;
  display: flex;
  margin-left: 60px;
}

.doll_lightbox {
  /* background-image: url(../../IMG/people/body.png); */
  width: 130px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 15%;
  left: 35%;
  display: flex;
  justify-content: center;
}

.doll_lightbox .doll,
.doll_lightbox .hair,
.doll_lightbox .clothes,
.doll_lightbox .bottoms,
.doll_lightbox .accessories1,
.doll_lightbox .accessories2,
.doll_lightbox .accessories3,
.doll_lightbox .eyebrow,
.doll_lightbox .eye,
.doll_lightbox .mouth{
  width: 130px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}


.money1 {
  display: flex;
  align-items: center;
}

.money1 #result {
  font-size: 3rem;
  color: #000;
  margin-left: 10px;
}

.send {
  background-color: #ffff;
  color: #000;
  font-size: 2rem;
  border-radius: 15px;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.send:hover {
  box-shadow: 0 0 5px #727272;
}

.send_check {
  background-color: #000;
  color: white;
  font-size: 2rem;
  border-radius: 15px;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 20px;
}

.send_check:hover {
  box-shadow: 0 0 5px #000000;
}

.none{
  display: none;
}

/* 消費紀錄 */
.pay_lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 5;
}

.pay_none{
  display: none;
}

.pay_wrapper{
  background-color: #252833;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  width: 800px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pay_close > .fa-xmark{
  color: #405366;
  font-size: 3rem;
  margin-left: 90%;
  margin-top: 3%;
  cursor: pointer;
}

.pay_wrapper{
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.pay_wrapper > .pay_title{
  color: #A0C0E1;
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pay_wrapper > .pay{
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  height: 250px;
  padding-right: 10px;
}

.pay_wrapper > .pay li{
  display: flex;
  border-bottom: 1px solid #405366;
  margin-top: 30px;
  justify-content: space-around;
  padding-bottom: 10px;
}

.pay::-webkit-scrollbar {
  width: 10px;
}

.pay::-webkit-scrollbar-thumb {
  background: #A0C0E1;
  border-radius: 10px;
}

.pay::-webkit-scrollbar-track {
  border-radius: 10px;
}


/*------------------------------- 414 --------------------------------*/

@media screen and (max-width: 414px){
  
  body{
    background-image: url(../../IMG/store/mall_room2.png);
    min-width:100%;
    max-width:100%;
    width: auto;
    background-size: cover;
  }

  .coutainer{
    background-image: url();
    width: 65%;
  }
  
  .coutainer::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -48px;
    width: 135%;
    height: 80%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.56);
}

  .wrapper{
    
  }

  .nav_down{
    width: 300px;
    height: 150px;
    top: 87%;
  }

  #nav_down_wrapper{
    width: 330px;
    height: 200px;
    
  }

  /* 下方選單 */
.nav_down {
  background: rgba(255, 255, 255, 0.667);
  position: absolute;
  width: 361px;
  left: 55%;
  top: 85%;
  border-radius: 10px;
  transform: translate(-56%, -40%);
  overflow: hidden;
  cursor: pointer;
}

  #nav_down_wrapper::-webkit-scrollbar{
    height: 20px;
  }

  .nav_left{
    background-image: url(index_build_roles.html.css);
    margin: 0px auto;
    max-width: 100%;
    width: 360px;
    height: 108px;
    position: absolute;
    top: 65%;
    left: 25px;
    overflow-x: scroll;
    white-space: nowrap;
    border-radius: 10px;
    
    
  }
  .nav_left::-webkit-scrollbar{
    display: none;
  }

  
  .nav_left::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 160%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 设置白色透明度 */
    z-index: -1; /* 将遮罩层置于.choose下方 */
  }

  .nav_left::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* 設定滾動條的顏色 */
    background-color: transparent;
    border-radius: 5px; /* 設定滾動條的圓角 */
    
  }

  .nav_left li:hover h2 {
    font-size: 2.7em;
    color: #511D1C;
  }

  .nav_left ul{
    flex-direction: row;
  }
    

  .nav_left ul li{
    border-bottom: none;
    left: 20%;
  }

  .nav_left ul li:hover{
    color: #fff;
  }

  

  .money{
    margin-top: 100px;
  }
/* 
  .number{
    margin: 10px;
  } */

  .check{
    font-size: 1.5rem;
    top: 57%;
    left: 80%;
    box-shadow: rgb(255, 255, 255) 0px 0px 5px;
    border-radius: 20px;
  }

  

  .dresss_lightbox{
    height: 100%;
  }

  .dresss{
    width: 380px;
    height: 520px;
  }

  .dresss_choose{
    margin-left: 0;
    background-size: 79%;
    width: 480px;
  }

  .dresss > article{
    width: 100%;
    height: 82%;
    top: 55%;
  }

  .fa-xmark{
    font-size: 4rem;
    margin-left: 85%;
  }

  .doll_lightbox{
    left: 30%;
  }

  .doll_lightbox .doll,
  .doll_lightbox .hair,
  .doll_lightbox .clothes,
  .doll_lightbox .bottoms,
  .doll_lightbox .accessories1,
  .doll_lightbox .accessories2,
  .doll_lightbox .accessories3,
  .doll_lightbox .eyebrow,
  .doll_lightbox .eye,
  .doll_lightbox .mouth{
    width: 150px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .send{
    font-size: 2.5rem;
  }

  .send_check{
    font-size: 2.5rem;
  }

  .coutainer .doll, .coutainer .eyebrow, .coutainer .eye, .coutainer .mouth, .coutainer .clothes, .coutainer .bottoms, .coutainer .accessories1, .coutainer .hair, .coutainer .accessories2, .coutainer .accessories3 {
    width: 162.5px;
    height: 250px;
    position: absolute;
    top: 5%;
    left: 17%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
}
