body {
    background-image: url(../../IMG/store/background_night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    min-width: 1200px;
    max-width: 1920px;
}

.activity_title {
    margin-left: 20px;
}
  
.activity_title a {
    position: absolute;


}
  
.activity_title a:hover {
    animation: left 0.5s infinite;
}
  
@keyframes left {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: -5px;
    }
}

.user {
    border: #a0c0e1 solid 2px;
}
  
.widget {
    color: #a0c0e1;
}
  
.widget a {
    color: #a0c0e1;
}
  
.activity_title h1 {
    color: white;
    text-shadow: #405366.1rem 0.1rem 0.4rem;
}
  
.choose_wrapper {
    display: flex;
}
  
.choose_wrapper h1{
    margin: 0 auto;
}

.wrapper {
    display: flex;
    width: 100%;
}

/* 金幣袋 */
/* .stored{
    background-color: #a0c0e180;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    border-radius: 30px;
} */

/* .none{
    display: none;
} */
    
/* .stored > article{
    color: white;
    background-color: #252833;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
} */

.tab-content{
    color: white;
    background-color: #252833;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 400px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* .fa-xmark{
    font-size: 3rem;
    margin-left: 90%;
    margin-top: 5%;
    cursor: pointer;
} */

/* .stored_container >.nav{
    font-size: 2rem;
} */

/* 加值 */
/* #menu1 img{
    width: 100px;
    margin: 40px 20px 10px;
} */

.stored_container{
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-5%, -50%);
}

.stored_container li{
    padding: 20px;
    margin: 20px;
    position: relative;
}

.stored_container li:hover{
    border-radius: 10px;
    background-color: #ffffff30;
}

.in{
    margin-top: 10px;
}

.in > span{
    margin-top: 10px;
    font-size: 2rem;
}

.stored_container li .in label{
    position: relative;
}

.stored_container li .in span{
    position: absolute;
    top: 160px;
    left: 70px;
}

.in > input{
    display: none;
}

/* input[type="checkbox"] {
    visibility: hidden;
    display: none;
} */
  
/* input[type="checkbox"] + span::before {
    content: "\2714";
    display: inline-block;
    color: #405366;
    font-size: 2.5rem;
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    left: 0;
    top: -8px;
    display: none;
}
  
input[type="checkbox"]:checked + span::before {
    opacity: 1;
    display: none;
} */
  
/* .checkbox {
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10;
    display: none;
} */

.stored_container::-webkit-scrollbar {
    width: 10px;
}

.stored_container::-webkit-scrollbar-thumb {
    background: #A0C0E1;
    border-radius: 10px;
}

.stored_container::-webkit-scrollbar-track {
    border-radius: 10px;
}

.buy{
    font-size: 2rem;
    color: #fff;
    width: 70px;
    padding: 10px;
    background-color: #252833;
    box-shadow: 0 0 5px #727272;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 90%;
    right: 48%;
    cursor: pointer;
}

.buy:hover{
    color: #252833;
    background-color: #A0C0E1;
    box-shadow: 0 0 5px #000000;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.32));
}

.record{
    display: flex;
}

.record #stored_record{
    width: 50px;
    position: absolute;
    top: 88%;
    right: 12%;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.406));
}

/*------------------------------------- lightbox ----------------------------------*/

/* 儲值紀錄 */
.stored_lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.8);
    z-index: 5;
}

.stored_none{
    display: none;
}

.stored_wrapper{
    background-color: #252833;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    width: 800px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stored_wrapper{
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.stored_close > .fa-xmark{
    color: #405366;
    font-size: 3rem;
    margin-left: 90%;
    margin-top: 3%;
    cursor: pointer;
}

.stored_wrapper > .stored_title{
    color: #A0C0E1;
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stored_wrapper > .stored{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    height: 250px;
    padding-right: 10px;
}

.stored_wrapper > .stored li{
    display: flex;
    border-bottom: 1px solid #405366;
    margin-top: 30px;
    justify-content: space-around;
    padding-bottom: 10px;
}

.stored::-webkit-scrollbar {
    width: 10px;
}

.stored::-webkit-scrollbar-thumb {
    background: #A0C0E1;
    border-radius: 10px;
}

.stored::-webkit-scrollbar-track {
    border-radius: 10px;
}
/*------------------------------- 414 --------------------------------*/

@media screen and (max-width: 414px){
  
  body{
    background-image: url(/IMG/store/background2.png);
    min-width:100%;
    max-width:100%;
    width: auto;
    background-size: cover;
  }

  .tab-content {
    color: white;
    background-color: #252833;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 400px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.buy {
    font-size: 2rem;
    color: #fff;
    width: 70px;
    padding: 10px;
    background-color: #252833;
    box-shadow: 0 0 5px #727272;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 58%;
    right: 16%;
}



}