body {
  background-image: url(../../IMG/store/mall_room.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  min-width: 1200px;
  max-width: 1920px;
}

.activity_title {
  margin-left: 20px;
}

.activity_title a {
  position: absolute;
}

.activity_title a:hover {
  animation: left 0.5s infinite;
}

@keyframes left {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5px;
  }
}

/* .bar > .ability {
  text-shadow: #405366.1rem 0.1rem 0.4rem;
}

.bar .ability span:last-child {
  background-color: #405366;
}

.bar .ability span div {
  background-color: #a0c0e1;
} */

.user {
  border: #a0c0e1 solid 2px;
}

.widget {
  color: #a0c0e1;
}

.widget a {
  color: #a0c0e1;
}

.activity_title h1 {
  color: white;
  text-shadow: #405366.1rem 0.1rem 0.4rem;
}

.choose_wrapper {
  margin-top: 20px;
  display: flex;
}

.choose_wrapper h1{
  margin: 0 auto;
}

/* #choose {
  font-size: 2rem;
  text-align: center;
  background-color: #755c5c;
  color: white;
  margin: 0 auto;
  padding: 5px 0;
} */

.wrapper {
  display: flex;
  width: 100%;
}

/* 左邊選單 */
.nav_left {
  background-image: url(../../IMG/store/photo_frame.png);
  width: 195px;
  height: 424px;
  opacity: 0.8;
  margin: 20px 100px;
}

.nav_left ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav_left ul li {
  color: white;
  text-shadow: #405366.1rem 0.1rem 0.4rem;
  border-bottom: 2px solid #4053666c;
  width: 100px;
  margin: 30px auto 0;
  padding-bottom: 5px;
  cursor: pointer;
}

.nav_left ul li:hover {
  color: #405366;
}

/* .current {
  color: #405366;
} */

/* 人偶 */
.coutainer {
  background-image: url(../../IMG/store/photo_frame_3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 363.6px;
  height: 337.2px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.doll {
  /* background-image: url(../../IMG/people/hair4.png),url(../../IMG/people/glasses.png),url(../../IMG/people/mask.png),url(../../IMG/people/m2.png),url(../../IMG/people/e2.png),url(../../IMG/people/eb3.png),url(../../IMG/people/top4.png),url(../../IMG/people/bottom4.png), url(../../IMG/people/body.png); */
  /* background-image: url(../../IMG/people/body.png); */
}

.coutainer .doll,
.coutainer .eyebrow,
.coutainer .eye,
.coutainer .mouth,
.coutainer .clothes,
.coutainer .bottoms,
.coutainer .accessories1,
.coutainer .hair,
.coutainer .accessories2,
.coutainer .accessories3 {
  width: 162.5px;
  height: 250px;
  position: absolute;
  top: 15%;
  left: 28%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.reset{
  background-color: #fff;
  color: black;
  font-size: 2rem;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  position: absolute;
  top: 76%;
  left: 76%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.reset:hover{
  box-shadow: 0 0 5px #ffffff;
}

.check {
  background-color: #000;
  color: white;
  font-size: 2rem;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  position: absolute;
  top: 88%;
  left: 76%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.check:hover {
  box-shadow: 0 0 5px #ffffff;
}

/* 下方選單 */
.nav_down {
  background: #ffffffaa;
  position: absolute;
  width: 500px;
  height: 200px;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}

#nav_down_wrapper {
  display: flex;
  height: 180px;
  width: 480px;
  margin: 10px auto;
  overflow-y: hidden;
}

.number {
  cursor: pointer;
  display: flex;
  margin: 10px 20px;
}

.money {
  display: flex;
  margin-top: 120px;
  padding-right: 10px;
}

.money p {
  color: #000;
  margin-left: 5px;
}

#nav_down_wrapper::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

#nav_down_wrapper::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

#nav_down_wrapper::-webkit-scrollbar-track {
  background: #00000066;
  border-radius: 10px;
}


.doll {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.hair {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.clothes {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.bottoms {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.accessories1 {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.accessories2 {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.accessories3 {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.eyebrow {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.eye {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.mouth {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.doll img,
.hair img,
.clothes img,
.bottoms img,
.accessories1 img,
.accessories2 img,
.accessories3 img,
.glasses img,
.eyebrow img,
.eye img,
.mouth img{
  height: 100%;
}

/* 針對嘴巴另外設置大小 */
#nav_down_wrapper .mouth img{
  transform: scale( 500% ) translateY(10%);
}

#nav_down_wrapper .clothes img{
  transform: scale( 200% );
}

#nav_down_wrapper .bottoms img{
  transform: scale( 200% ) translateY(-25%);
}

#nav_down_wrapper .eyebrow img{
  transform: scale( 200% ) translateY(10%);
}

/*--------------------------- lightbox ---------------------------*/

.dresss_lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 5;
}

.dresss {
  background-color: #ffffffbb;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  border-radius: 30px;
}

.dresss_none {
  display: none;
}

.dresss > article {
  color: white;
  width: 75%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.fa-xmark {
  font-size: 3rem;
  margin-left: 90%;
  margin-top: 5%;
  cursor: pointer;
}

.buy_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dresss_choose {
  background-image: url(../../IMG/store/photo_frame_3.png);
  background-size: 53% auto;
  background-repeat: no-repeat;
  width: 606px;
  height: 562px;
  display: flex;
  margin-left: 60px;
}

.doll_lightbox {
  /* background-image: url(../../IMG/people/body.png); */
  width: 130px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 15%;
  left: 35%;
  display: flex;
  justify-content: center;
}

.doll_lightbox .doll,
.doll_lightbox .hair,
.doll_lightbox .clothes,
.doll_lightbox .bottoms,
.doll_lightbox .accessories1,
.doll_lightbox .accessories2,
.doll_lightbox .accessories3,
.doll_lightbox .eyebrow,
.doll_lightbox .eye,
.doll_lightbox .mouth{
  width: 130px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}


.money1 {
  display: flex;
  align-items: center;
}

.money1 #result {
  font-size: 3rem;
  color: #000;
  margin-left: 10px;
}

.send {
  background-color: #ffff;
  color: #000;
  font-size: 2rem;
  border-radius: 15px;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.send:hover {
  box-shadow: 0 0 5px #727272;
}

.send_check {
  background-color: #000;
  color: white;
  font-size: 2rem;
  border-radius: 15px;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 20px;
}

.send_check:hover {
  box-shadow: 0 0 5px #000000;
}

.none{
  display: none;
}

/*------------------------------- 414 --------------------------------*/

@media screen and (max-width: 414px){
  
  body{
    background-image: url(../../IMG/store/mall_room2.png);
    min-width:100%;
    max-width:100%;
    width: auto;
  }

  .coutainer{
    background-image: url();
  }

  .wrapper{
    
  }

  .nav_down{
    width: 430px;
    height: 230px;
    top: 87%;
  }

  #nav_down_wrapper{
    width: 380px;
    height: 200px;
  }

  #nav_down_wrapper::-webkit-scrollbar{
    height: 20px;
  }

  .nav_left{
    background-image: url();
    margin: 0 auto;
    width: 400px;
    height: 100px;
    position: absolute;
    top: 65%;
    left: 5px;
  }

  .nav_left ul{
    flex-direction: row;
  }

  .nav_left ul li{
    border-bottom: none;
  }

  .nav_left ul li:hover{
    color: #a0c0e1;
  }

  .money{
    margin-top: 100px;
  }

  .number{
    margin: 10px;
  }

  .check{
    font-size: 2.5rem;
    top: 60%;
    left: 80%;
    box-shadow: 0 0 5px #ffffff;
    border-radius: 20px;
  }

  .dresss_lightbox{
    height: 100%;
  }

  .dresss{
    width: 380px;
    height: 520px;
  }

  .dresss_choose{
    margin-left: 0;
    background-size: 79%;
    width: 480px;
  }

  .dresss > article{
    width: 100%;
    height: 82%;
    top: 55%;
  }

  .fa-xmark{
    font-size: 4rem;
    margin-left: 85%;
  }

  .doll_lightbox{
    left: 30%;
  }

  .doll_lightbox .doll,
  .doll_lightbox .hair,
  .doll_lightbox .clothes,
  .doll_lightbox .bottoms,
  .doll_lightbox .accessories1,
  .doll_lightbox .accessories2,
  .doll_lightbox .accessories3,
  .doll_lightbox .eyebrow,
  .doll_lightbox .eye,
  .doll_lightbox .mouth{
    width: 150px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .send{
    font-size: 2.5rem;
  }

  .send_check{
    font-size: 2.5rem;
  }
}
