body{
    background-image: url(../../IMG/store/mall_room.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}

.activity_title{
    margin-left: 20px;
}

.activity_title a{
    position: absolute;

}

.activity_title a:hover {
    animation: left .5s infinite;
}

@keyframes left{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: -5px;
    }
}

.bar>.ability {
    text-shadow: #405366.1rem .1rem .4rem;
}

.bar .ability span:last-child {
    background-color: #405366;
}

.bar .ability span div {
    background-color: #A0C0E1;
}

.user {
    border: #A0C0E1 solid 2px;
}

.widget{
    color: #A0C0E1;
}

.widget a{
    color: #A0C0E1;
}

.activity_title h1{
    color: white;
    text-shadow: #405366.1rem .1rem .4rem;
}

.choose_wrapper{
    display: flex;
}

#choose{
    font-size: 2rem;
    text-align: center;
    background-color: #755C5C;
    color: white;
    margin: 0 auto;
    padding: 5px 0;
}

.wrapper{
    display: flex;
    width: 100%;
}

/* 左邊選單 */
.nav_left{
    background-image: url(/IMG/store/photo_frame.png);
    width: 195px;
    height: 424px;
    opacity: 0.8;
    margin: 20px 100px;
}

.nav_left ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav_left ul li{
    color: white;
    text-shadow: #405366.1rem .1rem .4rem;
    border-bottom: 2px solid #4053666c;
    width: 100px;
    margin: 35px auto 0;
    padding-bottom: 10px;
}

.nav_left ul li:hover{
    color: #405366;
}

.current{
    color: #405366;
}

/* 人偶 */
.coutainer{
    background-image: url(/IMG/store/photo_frame_3.png);
    background-size: 65% auto;
    background-repeat: no-repeat;
    width: 606px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-35%, -30%);
}

.doll{
    width: 250px;
    height: 250px;
    background-image:url(/IMG/people/hair4.png),url(/IMG/people/glasses.png),url(/IMG/people/mask.png),url(/IMG/people/m2.png),url(/IMG/people/e2.png),url(/IMG/people/eb3.png),url(/IMG/people/top4.png),url(/IMG/people/bottom4.png), url(/IMG/people/body.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    left: 20%;
}

.check{
    background-color:#000;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.check:hover{
    box-shadow: 0 0 5px #ffffff;
}

/* 下方選單 */
.nav_down{
    background: #ffffffaa;
    position: absolute;
    width: 500px;
    height: 200px;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -40%);
    overflow: hidden;
}

.nav_down_wrapper{
    display: flex;
    height: 180px;
    width: 480px;
    margin: 10px auto;
    overflow-y: hidden;
}

.number{
    cursor: pointer;
    display: flex;
    margin: 10px 20px;
}

.money{
    display: flex;
    margin-top: 120px;
    padding-right: 10px;
}

.money p{
    color: #000;
    margin-left: 5px;
}

.nav_down_wrapper::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.nav_down_wrapper::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

.nav_down_wrapper::-webkit-scrollbar-track {
    background: #00000066;
    border-radius: 10px;
}

.hair{
    width: 150px;
    height: 150px;
    background-size: 80%;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.hair1{
    background-image: url(/IMG/people/hair1.png);
}

.hair2{
    background-image: url(/IMG/people/hair2.png);
}

.hair3{
    background-image: url(/IMG/people/hair3.png);
}

.hair4{
    background-image: url(/IMG/people/hair4.png);
}

.hair5{
    background-image: url(/IMG/people/hair5.png);
}

.clothes{
    width: 150px;
    height: 150px;
    background-size: 150%;
    background-position: center;
}

.top1{
    background-image: url(/IMG/people/top1.png);
}

.top2{
    background-image: url(/IMG/people/top2.png);
}

.top3{
    background-image: url(/IMG/people/top3.png);
}

.top4{
    background-image: url(/IMG/people/top4.png);
}

.bottoms{
    width: 150px;
    height: 150px;
    background-size: 120%;
    background-position: 50% 100%;
}

.bottom1{
    background-image: url(/IMG/people/bottom1.png);
}

.bottom2{
    background-image: url(/IMG/people/bottom2.png);
}

.bottom3{
    background-image: url(/IMG/people/bottom3.png);
}

.bottom4{
    background-image: url(/IMG/people/bottom4.png);
}

.accessories1{
    width: 150px;
    height: 150px;
    background-size: 150%;
    background-position: 50% 30%;
}

.mask{
    background-image: url(/IMG/people/mask.png);
}

.accessories2{
    width: 150px;
    height: 150px;
    background-size: 100%;
    background-position: 50% -20%;
}

.cap{
    background-image: url(/IMG/people/cap.png);
}

.accessories3{
    width: 150px;
    height: 150px;
    background-size: 150%;
    background-position: 50% 20%;
}

.glasses{
    background-image: url(/IMG/people/glasses.png);
}

.eyebrow{
    width: 150px;
    height: 150px;
    background-size: 150%;
    background-position: 50% 20%;
}

.eyebrow1{
    background-image: url(/IMG/people/eb1.png);
}

.eyebrow2{
    background-image: url(/IMG/people/eb2.png);
}

.eyebrow3{
    background-image: url(/IMG/people/eb3.png);
}

.eyebrow4{
    background-image: url(/IMG/people/eb4.png);
}

.eye{
    width: 150px;
    height: 150px;
    background-size: 150%;
    background-position: 50% 30%;
}

.eye1{
    background-image: url(/IMG/people/e1.png);
}

.eye2{
    background-image: url(/IMG/people/e2.png);
}

.eye3{
    background-image: url(/IMG/people/e3.png);
}

.eye4{
    background-image: url(/IMG/people/e4.png);
}

.mouth{
    width: 150px;
    height: 150px;
    background-size: 200%;
    background-position: 50% 40%;
}

.mouth1{
    background-image: url(/IMG/people/m1.png);
}

.mouth2{
    background-image: url(/IMG/people/m2.png);
}

.mouth3{
    background-image: url(/IMG/people/m3.png);
    background-size: 250%;
}

.mouth4{
    background-image: url(/IMG/people/m4.png);
    background-size: 300%;
}

.mouth5{
    background-image: url(/IMG/people/m5.png);
    background-size: 250%;
}

/*--------------------------- lightbox ---------------------------*/

.dresss_lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .8);
    z-index: 5;
}

.dresss{
    background-color: #ffffffbb;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    border-radius: 30px;
}

.dresss_none{
    display: none;
}
    
.dresss > article{
    color: white;
    width: 75%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.fa-xmark{
    font-size: 3rem;
    margin-left: 90%;
    margin-top: 5%;
    cursor: pointer;
}

.buy_wrapper{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.dresss_choose{
    background-image: url(/IMG/store/photo_frame_3.png);
    background-size: 53% auto;
    background-repeat: no-repeat;
    width: 606px;
    height: 562px;
    display: flex;
    margin-left: 60px;
}

.doll_lightbox{
    width: 200px;
    height: 200px;
    background-image:url(/IMG/people/hair4.png),url(/IMG/people/glasses.png),url(/IMG/people/mask.png),url(/IMG/people/m2.png),url(/IMG/people/e2.png),url(/IMG/people/eb3.png),url(/IMG/people/top4.png),url(/IMG/people/bottom4.png), url(/IMG/people/body.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 35%;
}

.money1{
    display: flex;
    align-items: center;
}

.money1 #result{
    font-size: 3rem;
    color: #000;
    margin-left: 10px;
}

.send{
    background-color:#ffff;
    color: #000;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.send:hover{
    box-shadow: 0 0 5px #727272;
}

.send_check{
    background-color:#000;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    margin-left: 20px;
}

.send_check:hover{
    box-shadow: 0 0 5px #000000;
}
