<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>儲值紀錄</title>

    <link rel="stylesheet" href="CSS/global.css">
    <link rel="stylesheet" href="CSS/diary/diary_store.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <!----Vue_cdn---------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.cjs.js" integrity="sha512-Om0T2d9tl4H2ShSsEkWjJeQOlXGJg4OZvXKZw075refp2RNZ1avQDbqd6WhwGbWhqpcn2oPmExCEa/lSLzZaJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <div class="myself">
        <div class="header"></div> <!-- 用來載入 common.html 裡頭的 header -->
            <div class="activity">
                <span>
                    <div class="activity_title">
                        <svg width="40" height="40" viewBox="0 0 83 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <a href="diary_new.html">
                                <g filter="url(#filter0_dd_668_6)">
                                    <path d="M9 37.5L34.2778 5V23.018L74 23.0556V51.9444H34.2778V70L9 37.5Z" fill="#634921"
                                        stroke="#634921" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <filter id="filter0_dd_668_6" x="0" y="0" width="83" height="83"
                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                        <feOffset dy="4" />
                                        <feGaussianBlur stdDeviation="2" />
                                        <feComposite in2="hardAlpha" operator="out" />
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_668_6" />
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                        <feOffset dy="4" />
                                        <feGaussianBlur stdDeviation="2" />
                                        <feComposite in2="hardAlpha" operator="out" />
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                        <feBlend mode="normal" in2="effect1_dropShadow_668_6"
                                            result="effect2_dropShadow_668_6" />
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_668_6"
                                            result="shape" />
                                    </filter>
                                </defs>
                            </a>
                        </svg>
                        
                    </div>
                    
                </span>

                <div class="footer"></div> <!-- 用來載入 common.html 裡頭的 footer -->
            </div>
        </div>

        <!-----主要版面------------------->
        <div class="activity_main">
            <!-- <button type="button" v-for="item in items" :class="{active: currentTab == item.id}" :key="item.id" @click="currentTab = item.id">{{ item.name }}</button> -->
            <!----左方欄位----------->
            <div class="left">
                <div class="member_photo">
                    <img src="IMG/diary/girl.png" alt="">
                </div>
                <div class="text_nav">
                    <div> <a href="diary_new.html">個人文章</a> </div>
                    <div><a href="diary_myself.html">會員個人資料</a></div>
                    <div class="on"><a href="diary_stored.html">儲值紀錄</a></div>
                    <div><a href="diary_wardrobe_copy.html">我的衣櫃</a></div>
            </div>
            </div>
            <div id="the_block">
                <button class="record_tab" type="button" v-for="item in items" :class="{active: currentTab == item.id}" :key="item.id" @click="currentTab = item.id">{{ item.name }}</button>
                <div class="middle">
                <!-----中間頁面--------------------------------------------->
                        <!--------------中下方--------------->
                        <div class="introduce">
                            <div class="tab-content">
                                <div id="menu2" class="table">
                                
                                    <component v-bind:is="current_tab_component" class="tab_content"></component>

                                </div>
                            </div>
                        </div>
            </div>
            </div>
            
            <!-------------------右側欄位--->
            <div class="right">
                <div class="calendar">
                    <div class="title">
                        <h1 class="main_color" id="calendar-title" style="text-align: center;">Month</h1>
                        <h2 class="main_color small" id="calendar-year" style="text-align: center;">Year</h2>
                        <a href="" id="prev"><i class="fa-solid fa-angle-left"></i> Prev Month</a>
                        <a href="" id="next" style="float: right;">Next Month <i
                                class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="body">
                        <div class="dark body-list">
                            <ul class="weekdays">
                                <li>MON</li>
                                <li>TUE</li>
                                <li>WED</li>
                                <li>THU</li>
                                <li>FRI</li>
                                <li>SAT</li>
                                <li>SUN</li>
                            </ul>
                        </div>
                        <div class="dark body-list">
                            <ul id="days">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my_activity">
                    <h3>最新文章列表</h3>
                    <!-- <p>6月1日<br>
                        文章標題</p>
                    <section>
                        沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我沒人約我
                    </section> -->
                </div>

                <div class="my_activity">
                    <h3>廣告</h3>
                    <a href=""><img src="IMG/activity/ad1.jpg" alt=""></a>
                    <a href=""><img src="IMG/activity/ad2.jpg" alt=""></a>
                </div>
            </div>

        </div>
        
    </div>
    <script src="https://unpkg.com/vue@next"></script>

    <script>

        var app = Vue.createApp({
            data(){
                return {
                    currentTab: "tab1",
                    items: [
                        {
                            id: "tab1",
                            name: "消費紀錄"
                        },
                        {
                            id: "tab2",
                            name: "儲值紀錄"
                        },
                    ]
                };
            },
            
            computed: {

                current_tab_component(){
                    return (this.currentTab + "_content").toLowerCase(); 

                }
            }
        });
// 消費紀錄
        app.component("tab1_content", {
            template: `
            <table>
                                                <tr>
                                                    <th>日期</th>
                                                    <th>金額</th>
                                                    <th>餘額</th>
                                                </tr>

                                                <tr>
                                                    <td>4/28</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>

                                                <tr>
                                                    <td>4/29</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>

                                                <tr>
                                                    <td>4/30</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>

                                                <tr>
                                                    <td>5/01</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>

                                                
                                                <tr>
                                                    <td>5/2</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>
                                            </table>
            `
        });

// 儲值紀錄
        app.component("tab2_content", {
            template: `
            <table>
                                                <tr>
                                                    <th>日期</th>
                                                    <th>金額</th>
                                                    <th>餘額</th>
                                                </tr>

                                                <tr>
                                                    <td>5/03</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>

                                                <tr>
                                                    <td>5/04</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>

                                                <tr>
                                                    <td>5/07</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>

                                                <tr>
                                                    <td>5/01</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>

                                                
                                                <tr>
                                                    <td>5/2</td>
                                                    <td>1000</td>
                                                    <td>1000</td>
                                                </tr>
                                            </table>
            `
        });

    

        app.mount("#the_block");
    </script>
    <!--js跟jQ-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module">
        import * as picture from "./JS/member_picture.js";
        $(function () {
            $(".header").load("common.html .header>div", function(){
                let user_img = document.getElementsByClassName("user")[0] ;
                picture.getMemberPicture(user_img);
            });
            $(".footer").load("common.html .footer>div");
        });

        let user_img2 = document.getElementsByClassName("member_photo")[0] ;
        picture.getMemberPicture(user_img2.querySelector("img"));

    </script>
    <script>

        var month_olympic = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        var month_normal = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        var month_name = ["January", "Febrary", "March", "April", "May", "June", "July", "Auguest", "September", "October", "November", "December"];
        var holder = document.getElementById("days");
        var prev = document.getElementById("prev");
        var next = document.getElementById("next");
        var ctitle = document.getElementById("calendar-title");
        var cyear = document.getElementById("calendar-year");
        var my_date = new Date();
        var my_year = my_date.getFullYear();
        var my_month = my_date.getMonth();
        var my_day = my_date.getDate();
        function dayStart(month, year) {
            var tmpDate = new Date(year, month, 1);
            return (tmpDate.getDay());
        }
        function daysMonth(month, year) {
            var tmp = year % 4;
            if (tmp == 0) {
                return (month_olympic[month]);
            } else {
                return (month_normal[month]);
            }
        }
        function refreshDate() {
            var str = "";
            var totalDay = daysMonth(my_month, my_year); //取得該月總天數
            var firstDay = dayStart(my_month, my_year); //取得該月第一天是星期幾
            var myclass;
            for (var i = 1; i < firstDay; i++) {
                str += "<li></li>"; //為起始日之前的日期創造空白節點
            }
            for (var i = 1; i <= totalDay; i++) {
                if ((i < my_day && my_year == my_date.getFullYear() && my_month == my_date.getMonth()) || my_year < my_date.getFullYear() || (my_year == my_date.getFullYear() && my_month < my_date.getMonth())) {
                    myclass = " class='light'"; //日期在今天之前時，以淺色字表示
                } else if (i == my_day && my_year == my_date.getFullYear() && my_month == my_date.getMonth()) {
                    myclass = " class='main_color todaybox'"; //當天顯示
                } else {
                    myclass = " class='dark'"; //今天之後，深色字體
                }
                str += "<li" + myclass + ">" + i + "</li>"; //日期節點
            }
            holder.innerHTML = str; //設置日期顯示
            ctitle.innerHTML = month_name[my_month]; //設置英文月份顯示
            cyear.innerHTML = my_year; //設置年分顯示
        }
        refreshDate(); //執行
        prev.onclick = function (e) {
            e.preventDefault();
            my_month--;
            if (my_month < 0) {
                my_year--;
                my_month = 11;
            }
            refreshDate();
        }
        next.onclick = function (e) {
            e.preventDefault();
            my_month++;
            if (my_month > 11) {
                my_year++;
                my_month = 0;
            }
            refreshDate();
        }
    </script>
</body>
</html>

<!-- 撈資料 儲值紀錄的ajax

// $.ajax({
//   method: "POST",
//   url: "php",
//   data:{},
//   dataType: "json",


//傳送成功的話
//   success: function (response) {

//       $.each(response, function(index, row) {

//           $(".component").append(

//              <tr>
                    <td>$(.record_tab)</td>
                    <td>$(.record_tab)</td>
                    <td>$(.record_tab)</td>
                </tr>
//               `
//           );
//       });
//   },
//   error: function(exception) {
//       alert(" 記錄載入失敗 " + exception.status);
//   }
// });


-->

<!-- 撈資料 儲值紀錄的ajax

    

                // $.ajax({
                //     url:"php/updateMemberDetail.php",
                //     method:"post",
                //     datatype:"json",
                //     //傳送的資料值
                //     //data傳送到php
                //     data:{
                //         record_tab:$(".record_tab").val(),
                //     },
                //     //傳送成功的話
                    
                //     }
                // })





-->