.activity_title a{
  position: absolute;

}

.activity_title a:hover {
  animation: left .5s infinite;
}

@keyframes left{
  0%{
      margin-left: 0px;
  }
  100%{
      margin-left: -5px;
  }
}


body{
width: 1280px;
background-image: url(../../IMG/index/background/room_background.jpg);
background-repeat: no-repeat;
background-size: contain;
background-attachment: fixed;
background-size: cover;
}



body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));  */
} 

.activity_title h2 {
  margin: 0 auto; 
  color: white;
  font-size: 3rem;
  text-align: center;
}




.box{
  width: 70vw;
  height: 70vh;
/* border: 5px solid #000; */
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
position: relative;
text-align: center;
}


.choose::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* 设置白色透明度 */
  z-index: -1; /* 将遮罩层置于.choose下方 */
}

.choose{

/* border: 2px solid #000; */
position: absolute;
left: 0;
top: 0;
width: 31%;
height: 100%;
background-image: url(../../IMG/index/photo_frame.png);
background-size: cover;
background-repeat: no-repeat;

background-position: center center;
background-size: 190% 132%;
box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
padding: 20px;
  

}

.text {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration-color: #634921;
  text-underline-offset: 6px;
  font-size:2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 5rem;
  font-weight: bold;
  margin: 1rem auto;
  
}

.text > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1.5;
  position: relative;
}

.text > div::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #634921;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.text > div:hover::before {
  transform: scaleX(1);
}

.text > div:hover {
  font-size: 2.5rem;
  font-weight: bold;
  color: #634921;
  background-color: #ffffff45;
  border-radius: 10px;
  
}






.role{

  /* border: 2px solid #000; */

  right:0;
  top: 0;
  width: 70%;
  height: 100%;
  display: flex;
  margin-left: 5rem;
  position: relative;
}




.baby{

  /* border: 3px solid #000; */
  
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 50px;
 background-image: url(../../IMG/people/body.png);
  max-width: 100%; 
  max-height: 100%; 
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  background-size: 30%;
}

.baby .cap,
.baby .hair,
.baby .glasses,
.baby .mask,
.baby .m,
.baby .e,
.baby .eb,
.baby .top,
.baby .bottom{
  position: absolute;
  right: 50px;
  top: 0px;
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  background-size: 38%;

}

.baby .cap{
  background-image: url(../../IMG/people/cap.png);
}

.baby .hair{
  background-image: url(../../IMG/people/hair3.png);
}

.baby .glasses{
  background-image: url(../../IMG/people/glasses.png);
}

.baby .m{
  background-image: url(../../IMG/people/m1.png);
}

.baby .e{
  background-image: url(../../IMG/people/e1.png);
}

.baby .eb{
  background-image: url(../../IMG/people/eb1.png);
}

.baby .top{
  background-image: url(../../IMG/people/top5.png);
}

.baby .bottom{
  background-image: url(../../IMG/people/bottom5.png);
}








.baby img {
 height: 100%;
 
  
  
}
.button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 30px;
  background-color: #CCD7B5;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
  margin-right: 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  box-shadow: 2px 2px 40px 0 rgba(0, 0, 0, 0.2);
  color: #000;
}

.button span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.3em;
  font-size: 1.5rem;
  font-weight: bold;
  
}


.button:hover{
color: #ffffff;
background-color: #634921;

}



.boxs {
  width: calc(33.33% - 10px); /* 每個方框寬度為 33.33% - 10px（用於間距） */
  margin: 10px; /* 每個方框的間距為 5px */
  /* background-color: #ffffff6d; */
  /* border: 1px solid #ccc; */
  display: flex;
  align-items: center;
  justify-content: center;
  
    width: 100px;
    height: 90px;
    margin-right: 10px;
    scroll-snap-align: center; /* 將圖像置中 */
    transition: all 0.5s ease-in-out; /* 添加滾動動畫 */
    flex-shrink: 0;
   
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */ 
}

/* 滑動動畫效果 */
.slider.active {
  cursor: grabbing;
}

/* 放大效果 */
.boxs.enlarged {
  transform: scale(1.1); /* 控制放大倍率 */
  transition: transform 0.3s ease; /* 控制動畫時間和效果 */
}


.boxs img {

  max-width: 100%; /* 设置图像的最大宽度为父元素的宽度 */
  max-height: 100%; /* 设置图像的最大高度为父元素的高度 */
  width: auto; /* 根据图像的宽高比自动调整宽度 */
  height: auto;
  transform: scale(1.7); /* 控制放大倍率 */
  transition: transform 0.3s ease; /* 控制動畫時間和效果 */
  margin-top: 30px;
  overflow: hidden;
}




.slider {
  scroll-snap-type: x mandatory; /* 強制滾動一次只滾動一張圖像 */
  -webkit-overflow-scrolling: touch; /* 為iOS添加平滑滾動效果 */
  border: 0px solid #000;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 30%;
  display: flex;
  flex-shrink: 0;

  white-space: nowrap; /* 防止換行 */
  /* border-radius: 20px; */
padding: auto 20px;
background-color: #ffffffaa;;
overflow: hidden;
overflow-x: scroll; /* 設定水平滾動 */
}



.slider::-webkit-scrollbar {
  height: 10px;
  width: 20px;

  
}

.slider::-webkit-scrollbar-track {
  background: transparent;
}

.slider::-webkit-scrollbar-thumb {
  background: #623307;
  border-radius: 5px;
  width: 30px;
}

.slider::-webkit-scrollbar-thumb:hover {
  background:  #CCD7B5;
}

.boxs:nth-child(n+1):nth-child(-n+5) img {
  transform: scale(2); /* 將第3到第9個子層div的圖片放大到200% */
  transition: transform 0.3s ease; /* 添加動畫效果 */
  padding-top: 15px;
}

.boxs:nth-child(n+6):nth-child(-n+20) img {
  transform: scale(3); /* 將第3到第9個子層div的圖片放大到200% */
  transition: transform 0.3s ease; /* 添加動畫效果 */
}

.boxs:nth-child(n+21):nth-child(-n+26) img {
  transform: scale(3); /* 將第3到第9個子層div的圖片放大到200% */
  transition: transform 0.3s ease; /* 添加動畫效果 */
  padding-bottom: 25px;
}

.boxs:nth-child(n+25):nth-child(-n+27) img {
  transform: scale(3); /* 將第3到第9個子層div的圖片放大到200% */
  transition: transform 0.3s ease; /* 添加動畫效果 */
  padding-bottom: 30px;
}
.boxs:nth-child(28) img {
  transform: scale(2.6); /* 將第3到第9個子層div的圖片放大到200% */
  transition: transform 0.3s ease; /* 添加動畫效果 */
  padding-bottom: 30px;
}
