


body{
background-image: url(../../IMG/index/background/home_page_background_2.jpg);
background-repeat: no-repeat;
  background-size: cover;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2); /* 設置遮罩的顏色和透明度 */
    z-index: -1; /* 将遮罩层的层级设为比body低，使body内容可以在其上方 */
  }
  

.overlay::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
  }
  
 


.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: #fff;;
  }

  
  
  .row_img, .row_1, .row_2, .row_3, .row_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    
  }
  
  .center {
    text-align: center;
  }

  .row_img img{
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;

  }

  .row_1 p {
    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: .4px black;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  -webkit-text-fill-color: white; /* Safari 和 iOS 需要顯式地設置 text-fill-color */
  
  }


  .row_2{
    width: 200px;
    height: 40px;
    border: 2px solid #fff; /* 设置边框样式和颜色 */
    border-radius: 40px; /* 添加右下角的圆角 */
    color: black;
    background-color: #E3CEA1;
    font-weight: bold;
    margin-bottom: 1rem;
    box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.9);
      }


  .row_3{
width: 200px;
height: 40px;
border: 2px solid #A1813C; /* 设置边框样式和颜色 */
border-radius: 40px; /* 添加右下角的圆角 */
color: #A1813C;
background-color: #fff;
font-weight: bold;
box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.9);

  }


  .row_4{
    text-decoration: underline below 0.2em;
  text-decoration: underline;
  
}

.row_4 a{
  color: white;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1); /* 鼠標懸停時放大1.1倍 */
}




/* 下面是能力直 */
.bar .ability span:last-child {
  /* border: 1px solid #FFF; */
  background-color: #3D2E96;
}

.bar .ability span div {
  background-color: #D6D1F0;
}

.bar>.ability {
  text-shadow: #3D2E96 .1rem .1rem .4rem;
}

.user {
  border: #D6D1F0 solid 2px;
}

.widget{
  color: #D6D1F0;
}

.widget a {
  color: #D6D1F0;
}

.bar .ability span div {
      color: #000;
}


/* 上面是能力直 */
  
/*------------------------------- 414 --------------------------------*/

@media screen and (max-width: 414px){
  
  body{
    background-image: url(/IMG/index/rwd/background/background_2.png);
    min-width:100%;
    max-width:100%;
    width: auto;
    background-size: cover;
  }

  .row_2{
    height: 50px;
  }

  .row_3{
    height: 50px;
    margin-top: 10px;
  }
}
