@import url(../global.css);
@import url(../activity/activity.css);

.activity>span>.activity_main>.my_activity_pages a h2 {
    color: black;
    -webkit-text-stroke: 0px;
    font-weight: 500;
    text-shadow: none;
}

.activity_my_pages {
    margin-bottom: 20px;
}

.activity>span>.activity_main>.my_activity_pages>.activity_my_pages>.thispage>h2 {
    color: #3D2E96;
    text-decoration: underline 1.5px;
    text-underline-offset: .5rem;
}

.article_my_title {
    display: flex;
    justify-content: space-between;
    color: #000;
}


/* --------------我發起-------------- */

.pencil {
    font-size: 3rem;
    color: #3D2E96;
}

.title_wrap {
    display: flex;
    justify-content: space-between;
}

/* --------------我發起_發文-------------- */

.activity_article2 {
    background-color: rgba(214, 209, 240, 0.9);
    padding: 25px;
    height: 77vh;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
}

.activity_my_post_edit {
    background-color: #fff;
    color: #7c7c7c;
    position: relative;
    margin: 20px auto;
    padding: 20px 40px;
}

label {
    position: relative;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

input,
textarea,
p,
select {
    margin-bottom: 5px;
}

input.title {
    font-size: 3rem;
    outline: none;
    border: none;
    color: #7c7c7c;
    margin-bottom: 20px;
}

textarea.words {
    width: 60%;
    height: 100px;
    font-size: 1.5rem;
    border: 1px solid #3D2E96;
    margin: 10px auto;
    padding: 5px;
}

.btn_wrap {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}

.btn_wrap button {
    padding: 5px 15px;
}