@import url(../global.css);
@import url(../activity/activity.css);

.activity>span>.activity_main>.my_activity_pages a h2 {
    color: black;
    -webkit-text-stroke: 0px;
    font-weight: 500;
    text-shadow: none;
}

.activity_my_pages {
    margin-bottom: 20px;
}

.activity>span>.activity_main>.my_activity_pages>.activity_my_pages>.thispage>h2 {
    color: #3D2E96;
    text-decoration: underline 1.5px;
    text-underline-offset: .5rem;
}

.article_my_title {
    display: flex;
    justify-content: space-between;
    color: #000;
}


/* --------------我發起-------------- */

.pencil {
    font-size: 3rem;
    color: #3D2E96;
}

.title_wrap {
    display: flex;
    justify-content: space-between;
}

/* --------------我發起_發文-------------- */

.activity_my_post_edit{
    background-color: #fff;
    color: #7c7c7c;
    position: relative;
}

