*{
    box-sizing: border-box;
}

body{
    background-image: url('../../IMG/wolf/werewolf_background_1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bar .ability span:last-child {
    /* border: 1px solid #FFF; */
    background-color: #fff;
}

.bar .ability span div {
    background-color: #23406A;
}

.bar>.ability {
    text-shadow: #3D2E96 .1rem .1rem .4rem;
}

.user {
    border: #fff solid 2px;
}

.widget{
    color: #fff;
}

.widget a {
    color: #fff;
}

.activity_title > h1{
    color: white;
}

.activity_title > svg {
    color: #606C99;
}

.activity_title > svg:hover {
    animation: left .5s infinite;
}

@keyframes left{
    0%{
        left: 0px;
    }
    100%{
        left: -5px;
    }
}

.wrapper{
    /* max-width: 1200px; */
    width: 100%;
    padding: 20px 0 60px;
    height: 77vh;
    margin: 0 auto;
}

section{
    max-width: 800px;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    border-radius: 40px;
}

.bottom_nav{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.bottom_nav span{
    color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, .3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

/* ====================== create-room ===================== */

.create_room{
    padding: 3%;
    position: relative;
    margin: 0 auto;
    height: 100%;

    background-image: url('../../IMG/wolf/werewolf_background_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.create_room h2{
    position: absolute;
    right: 4%;
    top: 5%;
    color: white;
}

.create_room div{
    width: 50%;
    height: 60px;
    background-color: #23406A;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .7);
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.create_room span{
    color: white;
    font-size: 3rem;

}

.create_room_password .password{
    font-size: 3rem;
    width: 28%;
    text-align: left;
    color: white;
    letter-spacing: 1rem;
    background-color: transparent;
    border: none;
    /* border-bottom: 1px solid #fff; */
    outline: none;
}

.create_room span.lock{
    width: 70px;
    height: 30px;

    background-color: #8C9DDA;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .7) inset;
    border-radius: 15px;
    transition: .5s;
    
    position: relative;
    cursor: pointer;
}

.create_room span.lock:before{
    content: '';
    font-size: 1rem;
    text-align: center;
    line-height: 2.6;
    color: white;

    display: block;
    height: 32px;
    width: 32px;
    /* border: 2px solid #F7ECBE; */
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #77692E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    transition: .5s;
}

.create_room span.lock.on{
    background-color: #F7ECBE;
    cursor: pointer;
}

.create_room span.on.lock:before {
    content: '';
    font-size: 1rem;
    text-align: center;
    line-height: 2.6;
    color: white;

    left: 38px;
    background-color: #77692E;
}

.create_room #create_btn{
    margin: 0 auto;
    padding: 1rem 2rem;

    width: 125px;
    height: 40px;

    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    border-radius: 30px;
    border: none;
    background-color: #F7ECBE;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .8);
    cursor: pointer;
    transition: .3s;
}

.create_room #create_btn:hover{
    color: white;
    background-color: #77692E;
}