*{
    box-sizing: border-box;
}

body{
    background-image: url('../../IMG/wolf/werewolf_background_1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 120%;
}

.bar .ability span:last-child {
    /* border: 1px solid #FFF; */
    background-color: #fff;
}

.bar .ability span div {
    background-color: #23406A;
}

.bar>.ability {
    text-shadow: #3D2E96 .1rem .1rem .4rem;
}

.user {
    border: #fff solid 2px;
}

.widget{
    color: #fff;
}

.widget a {
    color: #fff;
}

.bar .ability span div {
    color: #fff;
}

.activity_title > h1{
    color: white;
}

.activity_title > svg {
    color: #606C99;
    margin-left: 20px;
}

.activity_title > svg:hover {
    animation: left .5s infinite;
}

@keyframes left{
    0%{
        left: 0px;
    }
    100%{
        left: -5px;
    }
}

.wrapper{
    /* max-width: 1200px; */
    width: 100%;
    padding: 50px 20px 80px;
    height: 100vh;
    margin: 0 auto;
}

section{
    max-width: 800px;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    border-radius: 40px;
}

.bottom_nav{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.bottom_nav span{
    color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, .3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

/* ====================== create-room ===================== */

.room{
    /* padding: 3%; */
    position: relative;
    margin: 0 auto;
    height: 100%;

    background-color: rgba(96, 108, 153, .9);
    display: flex;
    align-items: center;
    justify-content: center;

    /* display: none; */
}


.room .room_num{
    position: absolute;
    left: 5%;
    top: -8%;
    width: 86px;
    color: white;

}

.room .room_password{
    position: absolute;
    right: 5%;
    top: -8%;
    width: 86px;
    color: white;
}

.room .room_num:before,
.room .room_password:before{
    content: '';
    display: block;
    background-color: #223F68;
    width: 150%;
    height: 150%;
    clip-path: polygon(100% 0%, 95% 55%, 100% 100%, 0 100%, 5% 55%, 0 0);
;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.room #game_state_box{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 20%;
    width: 160px;
    background-color: #23406A;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.room #game_state_box h2{
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    -webkit-text-stroke: 1px black;
    font-weight: 700;
}

.room #record_btn{
    background-image: url('../../IMG/wolf/record.svg');
    width: 58px;
    height: 52px;
    margin-bottom: 10px;

    position: absolute;
    left: 60%;
    bottom: 0 ;
    transform: translateX(-50%);
    cursor: pointer;
}

.room #game_instruction{
    background-image: url('../../IMG/wolf/book.svg');
    width: 68px;
    height: 52px;
    margin-bottom: 10px;

    position: absolute;
    left: 42%;
    bottom: 0 ;
    transform: translateX(-50%);
    cursor: pointer;
}

.room #player{
    height: 85%;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.room #player .left_player,
.room #player .right_player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room #player .seat{
    display: flex;
    justify-content: space-between;
    width: 140px;

    position: relative;
}

.room #player .seat ~ .seat{
    margin-top: 10px;
}

.room #player .left_player .seat .vote_box{
    position: absolute;
    top: 0;
    right: 100%;

    width: 90%;
    font-size: 1.5rem;
    line-height: 1.6;
    color: white;
    margin-top: 5px;
}

.room #player .right_player .seat .vote_box{
    position: absolute;
    top: 0;
    left: 103%;

    width: 90%;
    font-size: 1.5rem;
    line-height: 1.6;
    color: white;
    margin-top: 5px;
}

/* --------------------player img state------------------------ */

/* --------------------seat haveplayer------------------------- */

.room #player .seat.haveplayer .player_img img{
    width: 100%;
    border-radius: 20px;
    display: block;
}

.room #player .seat .player_img{
    width: 50%;
    height: 70px;
    background-color: #324BA6;
    border-radius: 20px;
    border: 1.5px solid black;

    position: relative;
}

.room #player .player_img .name{
    display: none;
}

.room #player .seat.haveplayer .player_img .name{
    display: block;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1px 5px;
    height: 20px;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 1px;
}

.room #player .player_img.out{
    position: relative;
}

.room #player .player_img.out::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(103, 12, 19, .8);
    border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.room #player .player_img.out::after{
    content: '+';
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 13rem;
    line-height: 1;

    position: absolute;
    top: -35%;
    left: 30%;
    z-index: 1;
    transform: rotate( 45deg);
}

.room #player .seat .player_state_box{
    padding: 10px 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.room #player .seat.haveplayer .player_state_box .player_name{
    font-size: 1.5rem;
    color: white;
    display: block;
}

.room #player .seat .player_state_box .player_name{
    display: none;
}
/* --------------------player state------------------------ */

.room #player .seat.haveplayer .player_state_box .player_state{
    font-size: 1.5rem;
    line-height: 1;
    color: black;
    position: relative;
    z-index: 1;

}

.room #player .seat.haveplayer .player_state_box .player_state.ready{
    color: white;
}

.room #player .seat.haveplayer .player_state_box .player_state::before{
    content: '';
    display: block;
    width: 0%;
    height: 80%;
    position: absolute;
    bottom: 20%;
    left: 0;
    background-color: #a73232;
    z-index: -1;
    
    transition: .3s;
}

.room #player .seat.haveplayer .player_state_box .player_state.ready:before{
    content: '';
    display: block;
    width: 100%;
    height: 80%;

}

.room #player .seat .player_state_box .player_state{
    /* display: none; */
}

/* --------------------vote button------------------------- */

.room #player .seat .player_state_box .v_btn{
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border: none;
    letter-spacing: .1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .5s;
}

.room #player .seat .player_state_box .none{
    display: none;
}

.room #player .seat .player_state_box .vote{
    background-color: black;
    color: white;
}

.room #player .seat .player_state_box .vote.select{
    background-color: #f2ecbe;
    color: black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.room #player .seat .player_state_box .look{
    background-color: #23406A;
    color: white;
}

.room #player .seat .player_state_box .look.select{
    background-color: #f2ecbe;
    color: black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.room #player .seat .player_state_box .kill{
    background-color: #670C13;
    color: white;
}

.room #player .seat .player_state_box .kill.select{
    background-color: #f2ecbe;
    color: black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

/* =========================== card ======================= */
.room #not_ready_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room #not_ready_box .not_ready{
    margin: 0 auto;
    width: 25%;
    height: 15%;
    text-align: center;
    line-height: 1.6;
    padding: 20px;
    border-radius: 20px;
    background-color: #23406A;
    color: #f2ecbe;
    box-shadow: 0 0 15px #313131;

    font-size: 3rem;
}

.room .card_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    perspective: 2000px; /* 設置透視距離，創建3D效果 */

}

.room .card_box .card{
    width: 302px;
    height: 537px;
    transition: transform 0.6s;
    transform-style: preserve-3d; /* 設置元素為3D空間中的元素 */
    cursor: pointer;
}

.room .card_box .card.rotate{
    transform: rotateY(180deg); /* 將元素翻轉180度，設置為背面 */
}

.room .card_box > div{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.room .card_box .close{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: -40px;
    cursor: pointer;
}

.room .card_box .close::before{
    content: '';
    display: block;
    width: 25px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate( -50% -50%);
}

.room .card_box .close:after{
    content: '';
    display: block;
    width: 25px;
    height: 1px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate( -50% -50%);
}

.room .card_box .card #card_back{
    width: 302px;
    height: 537px;
    background-image: url('../../IMG/wolf/card.png');
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #313131;
    position: absolute;
    backface-visibility: hidden;
   
}

#game_rule,#game_box,
#werewolve_card,
#villager_card,
#witch_card,
#seer_card{
    transform: rotateY(180deg); /* 將元素翻轉180度，設置為背面 */
}

.room .card_box .card #game_rule{
    line-height: 2;
    letter-spacing: 0.2rem;
    color: white;

    width: 302px;
    height: 537px;
    background-image: url('../../IMG/wolf/card.png');
    padding: 80px 40px 20px;;
    border-radius: 20px;
    box-shadow: 0 0 15px #313131;
    position: absolute;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.room .card_box .card #game_box{
    line-height: 2;
    letter-spacing: 0.2rem;
    color: white;

    width: 302px;
    height: 537px;
    background-image: url('../../IMG/wolf/card.png');
    padding: 20px 40px 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #313131;
    position: absolute;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* scrollbar-gutter:  stable both-edges ; */
}
#game_box #game_record{
    overflow: auto;
    scrollbar-gutter:  stable both-edges ;
}
#game_record::-webkit-scrollbar {
    width: 10px;
}

#game_record::-webkit-scrollbar-thumb {
    background: #b7223b;
    border-radius: 10px;
}

#game_record::-webkit-scrollbar-track {
    background: #be6b79;
    border-radius: 10px;
}

/* .room .card_box:hover .card{
    animation: rotate 1s forwards;
} */

.room .card_box .card #werewolve_card{
    width: 302px;
    height: 537px;
    background-image: url('../../IMG/wolf/wolfman.jpg');
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #313131;

    display: flex;
    align-items: end;
    backface-visibility: hidden;

}

.room .card_box .card #villager_card{
    width: 302px;
    height: 537px;
    background-image: url('../../IMG/wolf/villager.jpg');
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #313131;

    display: flex;
    align-items: end;
    backface-visibility: hidden;
}

.room .card_box .card #witch_card{
    width: 302px;
    height: 537px;
    background-image: url('../../IMG/wolf/witch.jpg');
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #313131;

    display: flex;
    align-items: end;
    backface-visibility: hidden;
}

.room .card_box .card #seer_card{
    width: 302px;
    height: 537px;
    background-image: url('../../IMG/wolf/prophet.jpg');
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #313131;

    display: flex;
    align-items: end;
    backface-visibility: hidden;

}

.room .card_box .card .rule_btn{
    margin: 0 auto;
    /* margin: 20px auto; */
    font-size: 3rem;
    line-height: 1.5;
    /* height: 60px; */
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    padding: .5rem 2rem;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(58, 58, 58, 0.5);
}

/* =========================== center_box ======================= */

.room  #center_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    /* background-color: #000; */
    width: 29%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.room  #center_box .confirm{
    /* width: 60px; */
    height: 30px;
    padding: 3px 15px;
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: .1rem;
    height: 30px;
    font-weight: 700;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    cursor: pointer;

    transition: .5s;
}

/* ---------- time box ---------- */
.room  #center_box #time_box{
    text-align: center;
    line-height: 1.1;
    margin-top: 10px;
}

.room  #center_box #time_box #time{
    text-align: center;
    font-size: 3rem;
    background-image: linear-gradient(to right, transparent 0%,transparent 50%, #000 50%, #000 100%);
    background-size: 200% auto;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    color: white;
    display: inline-block;
    width: 100%;

    position: relative;

}

.ani{
    background-image: linear-gradient(to right, transparent 0%,transparent 50%, #000 50%, #000 100%);
    background-size: 200% auto;
    background-position: 0% 0%;
    background-repeat: no-repeat;

    /* animation-name: width;
    animation-iteration-count: 1;
    animation-timing-function: linear ; */
}

@keyframes width {
    0%{
        background-position: left center;
    }
    100%{
        background-position: right center;
    }
}
/* ---------- ready box ---------- */

.room  #center_box #ready_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.room  #center_box #ready_box p{
    text-align: center;
    line-height: 1.6;
}

.room  #center_box #ready_box .btn_box{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.room  #center_box #ready_box .btn_box .confirm{
    color: #23406A;
    background-color: #f2ecbe;
    border: 1px solid #23406A;
}

.room  #center_box #ready_box .btn_box .confirm ~ .confirm{
    margin-left: 20px;
}

.room  #center_box #ready_box .btn_box #ready.ready{
    background-color: #670C13;
    color: white;
}

/* ---------- text box ---------- */

.room  #center_box #text{
    font-size: 3rem;
    line-height: 1.1;
    color: white;
    background-color: #000;
    padding: 3px 3px;

}

/* ---------- seer_box ---------- */

.room  #center_box #seer_box{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1.1;

    height: 100%;
}

.room  #center_box #seer_box #seer_text{
    color: white;
    background-color: #000;
    padding: 3px 3px;
}

.room  #center_box #seer_box .btn_box .confirm{
    background-color: black;
    color: white;
}

.room  #center_box #seer_box .btn_box .confirm.select{
    background-color: #f2ecbe;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    color: black;
}

/* ---------- werewolve_box ---------- */

.room  #center_box #werewolve_box{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1.1;

    height: 100%;
}

.room  #center_box #werewolve_box #werewolve_text{
    color: white;
    background-color: #000;
    padding: 3px 3px;
}

.room  #center_box #werewolve_box .btn_box .confirm{
    background-color: black;
    color: white;
}

.room  #center_box #werewolve_box .btn_box .confirm.select{
    background-color: #f2ecbe;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    color: black;
}

/* ---------- witch_box ---------- */

.room  #center_box #witch_box{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1.1;

    height: 100%;

}

.room  #center_box #witch_box #witch_text{
    line-height: 1;
    color: white;
    background-color: #000;
    padding: 3px 3px;
}

.room  #center_box #witch_box .btn_box .confirm{
    background-color: black;
    color: white;
}

.room  #center_box #witch_box .btn_box .confirm.select{
    background-color: #f2ecbe;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    color: black;
}

.room  #center_box #werewolve_box .btn_box .poison{
    display: none;
}

/* =========================== gameover ======================= */

.gameover{
    margin: 0 auto;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.gameover #winner_box,
.gameover #loser_box{
    /* height: 40%; */
    background-color: #23406A;
    position: relative;
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 30px;

    display: flex;
    flex-wrap: wrap;
}

.gameover #winner_box:after{
    content: attr(data-winScore);
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 5;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, .7);

    transform: rotate(-30deg);
}

.gameover #loser_box:after{
    content: attr(data-loseScore);
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 5;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, .7);

    transform: rotate(-30deg);
}

.gameover h2{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: #23406A;
    border-radius: 30px;
    padding: 10px 50px;
    color: white;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, .7);
    -webkit-text-stroke: 1px black;
    font-weight: 700;

    display: inline-block;
    z-index: 1;
}

.gameover .player_img{

    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: 1.5px solid black;

    margin: 5px 55px;
    position: relative;
}

.gameover .player_img img{
    width: 100%;
    border-radius: 50%;
    display: block;
}

.gameover .player_img .ban{
    width: 20px;
    height: 20px;
    background-image: url('../../IMG/wolf/ban_off.svg');
    position: absolute;
    top: 0;
    left: -20%;
    cursor: pointer;
}

.gameover .player_img .add{
    width: 20px;
    height: 20px;
    background-image: url('../../IMG/wolf/add_off.svg');
    position: absolute;
    top: 0;
    right: -20%;
    cursor: pointer;
}

.gameover .player_img .ban.on{
    background-image: url('../../IMG/wolf/ban_on.svg');
    cursor: pointer;
}

.gameover .player_img .add.on{
    background-image: url('../../IMG/wolf/add_on.svg');
    cursor: pointer;
}

.gameover .player_img .name{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 1px 5px;
    height: 20px;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
    /* margin-bottom: 1px; */
}


/* ===================== none ==================== */
.none {
    display: none !important ;
}

/*------------------------------------ 414 ----------------------------------*/

@media screen and (max-width: 414px){

    body{
        background-size: 500%;
    }

    .room{
        margin-top: 80px;
        height: 90%;
    }

    .room #game_state_box{
        height: 60px;
    }

    .room #player{
        height: 75%;
        width: 90%;
    }

    .room #center_box #ready_box{
        position: absolute;
        top: 40px;
    }

    .room #center_box #ready_box .btn_box{
        position: absolute;
        top: 270px;
    }

    .room #center_box .confirm{
        padding: 5px 30px;
        height: 55px;
    }

    .room #game_instruction{
        left: 40%;
    }

    h2{
        font-size: 2rem;
    }

    .room #not_ready_box .not_ready{
        font-size: 2rem;
    }
}