*{
    box-sizing: border-box;
}

body{
    background-image: url('../../IMG/wolf/werewolf_background_1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bar .ability span:last-child {
    /* border: 1px solid #FFF; */
    background-color: #fff;
}

.bar .ability span div {
    background-color: #23406A;
}

.bar>.ability {
    text-shadow: #3D2E96 .1rem .1rem .4rem;
}

.user {
    border: #fff solid 2px;
}

.widget{
    color: #fff;
}

.widget a {
    color: #fff;
}

.activity_title > h1{
    color: white;
}

.activity_title > svg {
    color: #606C99;
    margin-left: 20px;
}

.activity_title > svg:hover {
    animation: left .5s infinite;
}

@keyframes left{
    0%{
        left: 0px;
    }
    100%{
        left: -5px;
    }
}

.wrapper{
    /* max-width: 1200px; */
    width: 100%;
    padding: 20px 20px 60px;
    height: 77vh;
    margin: 0 auto;

}

section{
    max-width: 800px;
    width: 100%;
    height: 95%;
    margin: 0 auto;
    border-radius: 40px;
}

.bottom_nav{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.bottom_nav span{
    color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, .3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}
/* ============================ rule ========================== */

.rule{
    margin: 0 auto;
}

.rule .container{
    background-color: #FFE0D0;
    border-radius: 40px;
    height: 88%;
    padding: 20px 40px 10px;
}

.rule .container .top{
    height: 87%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: auto;
}

.top::-webkit-scrollbar {
    width: 10px;
}

.top::-webkit-scrollbar-thumb {
    background: #b4907e;
    border-radius: 10px;
}

.top::-webkit-scrollbar-track {
    background: #d1bfb5;
    border-radius: 10px;
}

.rule .left{
    width: 48%;
    position: relative;
    padding-top: 30px;
}

.rule .left .text_bg{
    line-height: 1.6;
    font-size: 2rem;
    letter-spacing: 0.4rem;

    padding-left: 30px;
    -webkit-text-stroke: 30px #4B4A4A;
    /* text-shadow: 0px 0px 100px rgba(0, 0, 0, 1); */
}

.rule .left .text{
    top: 30px;
    left: 30px;
    position: absolute;

    line-height: 1.6;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    font-weight: bold;
    color: white;
    /* text-shadow: 0px 0px 100px rgba(0, 0, 0, 1); */
}

.rule .right{
    width: 48%;
}

.rule .right img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center center;
    display: block;
}

.rule .must_read{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rule #check_box{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.rule .must_read{
    position: relative;
}

.rule .must_read label{
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.rule .must_read span{
    position: absolute;
    top: 50%;
    right: 170px;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: bold;
    color: red;
    transform: translateY(-50%);
}

.enter{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#enter_btn{
    margin: 0 auto;
    margin-top: 15px;
    padding: 1rem 2rem;

    /* display: none; */
    width: 125px;
    height: 40px;

    font-size: 2rem;
    font-weight: bold;
    line-height: 1;

    border-radius: 20px;
    border: none;
    background-color: #F7ECBE;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .8);
    cursor: pointer;
    transition: .3s;
}

#enter_btn:hover{
    color: white;
    background-color: #77692E;
}

.none{
    display: none;
}