
/*-----整頁欄位----------*/


body {
    background-image: url(../../IMG/diary/forest.png);
    background-size: cover;
    overflow: hidden;
}

.myself{
    
}

.activity_main{}



/*--------左方欄位-----------*/
.left{}

.member_photo{}


.text_nav{}



/*---------中間欄位-----------*/
.middle{}

.middletop{}


.big_girl{}

.idsign{}






