






h1 {
    font-size: 4rem;
}




/* --------------NAV改色-------------- */

.bar .ability span:last-child {
    background-color: #775050;
}

.bar .ability span div {
    background-color: #F9DE9A;
}

.bar>.ability {
    text-shadow: #ffffff .1rem .1rem .4rem;
}

.user {
    border: #EFE0CC solid 2px;
}

.widget {
    color: #EFE0CC;
}

.widget a {
    color: #EFE0CC;
}

.bar .ability span div {
    color: #000;
}



body {
    background-image: url(../../IMG/diary/forest.png);
    background-size: cover;
    overflow: hidden;
}

/*------整個版面-----*/
.activity {
    color: #FFF;
}


.activity_title h2{
    font-size: 3rem;
    text-align: center;
}

.activity select {
    background-color: #D6D1F0;
}

.activity>span {
    display: block;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
/*---主要版面----------*/
.activity_main {
    display: flex;
    width: 95%;
    justify-content: space-between;
    /* padding:25%; */
    margin: 30px auto;
}





/* --------------導覽列-------------- */

.activity_main .left {
    width: 20.8%;
    background-color: #847062cf;
    color: #634921;
    line-height: 1.6;
    padding: 20px;
    height: 70vh;
    /* overflow-y: scroll; */
    scrollbar-gutter: stable both-edges;
    margin-top: 30px;
}



.text_nav {
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration-color: #634921;
    text-underline-offset: 6px;
    font-size:2rem;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    font-weight: bold;
}




.text_nav > div {
    text-align: center;
    /* width: 100%; */
    display: block;
    /* justify-content: center;
    align-items: center; */
    font-size: 3rem;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
    /* margin: 1rem auto; */
}

.text_nav div a{
    color:#634921;
    font-size: 2.5rem;
}


.text_nav div ~ div {
    margin-top: 1.5rem;
}

.text_nav div a:hover {
    font-weight: bold;
    color: black;
    /* background-color: #ffffff45; */
    /* border-radius: 10px; */
}

.text_nav div.on a{
    font-weight: bold;
    color: white    ;
    /* background-color: #ffffff45; */
    /* border-radius: 10px; */
}


.text_nav div::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.text_nav div:hover::before {
    transform: scaleX(1);
}


/* -------------導覽列裡面的大頭貼------- */

.member_photo{
    background-image: url(../../IMG/diary/grass.png);
    background-size: cover;
    background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        
}

.member_photo img{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}


/* --------------活動內容-------------- */

.cards_top img{
    float: right;
    height: 40px;
    float:left;

}

.record_tab{
    padding: 3px 10px;
    padding: 5px 10px;
    background-color: #77665A;
    border: none;
    font-size: 1.5rem;

    margin-left: 0 5px;
}
.active{
    background-color: #d9c5b7;

}

.activity_tab{
    margin-bottom: 5px;
}

/* .activity_tab_active {
    -webkit-text-stroke: #000 1px;
    font-weight: 600;
    text-decoration: underline #e7e7e7;
    color: white; */
/*  */

.activity_tab_active{
    -webkit-text-stroke: #000 1px;
    font-weight: 600;
    text-decoration: underline #e7e7e7;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.activity_tab_active.on{
    /* text-decoration:solid; */
    text-decoration-color: white;
    text-decoration-line: underline;
}



.activity_tab>span {
    display: flex;
}

.activity_tab>span>a ~ a{
    margin-left: 10px;
}


.activity_main .middle {
    /* width: 55%; */
    margin: 0 auto;
    height: 93%;

}

/*---中間版面-------------------*/
.middle{
    background-color: #847062cf;
    padding: 30px 50px;
    /* height: 69vh;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges; */
}



.middletop{
    /* width: 100%;
    display: flex;
    align-items: flex-start; */
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    pointer-events: none;

}


.big_girl > img{
    display: block;
    width: 50%;
}

.idsign{
    width: 50%;
    /* margin-left: 30px; */
    line-height: 1.6;

    padding:0px 24px ;
}





/* --中間頁面----*/
.activity_article {
    position: relative;
    background-color: #847062cf;
    padding: 25px;

    border: 1ps solid red;
/* 
    height: 69vh; */
    /* overflow-y: scroll;
    scrollbar-gutter: stable both-edges; */
}

.activity_article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

/*--------個人資料介紹-------------*/

.introduce{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding:3px;

    line-height: 1.6;
    text-align: center;
}




.introduce .introduce_left input:disabled{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
    color: white;
}




.introduce .introduce_left .sex{
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.introduce .introduce_left .sex label{
    width: 100%;
}




.introduce .introduce_right input:disabled{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
    color: white;
}

.introduce .introduce_right input,
.introduce .introduce_left input{
    background-color: white;
    color: #000;
}
/* 
#hight{

}

#interest{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
}
#email{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
}



#soubriquet{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
}


#introduce_right{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
}

#weight{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
}

#constellation{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
}

#birthday{
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px;
} */

#myselfsign{
    width: 100%;
}



    /* background-color: transparent;
    border-bottom: 1px solid white;
    border-top-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    border-bottom-width:1px ;
    margin: 3px 5px;
    padding: 3px; 
}  */ 

.middle .button{
    display: flex;
    justify-content: space-around;

}


.middle .button .cancel{
    border: none;
    padding: 10px 20px;
    background-color: #665448;
    color: white;
    border-radius: 30px;
    font-size: 2rem;
    cursor: pointer;
}

.middle .button .confirm{
    border: none;
    padding: 10px 20px;
    background-color: #F9DE9A;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-size: 2rem;
    cursor: pointer;
}


.middle .edit_btn .editBtn{
    border: none;
    padding: 10px 20px;
    background-color: #F9DE9A;
    color: rgb  (0, 0, 0);
    border-radius: 30px;
    font-size: 2rem;
    cursor: pointer;
    
}

/*-------hover效果-------------*/
.edit_btn :hover{
    transform: scale(1.2);
}

.button :hover{
    transform: scale(1.2);
}



/*-----------------*/
.activity_main .right {
    width: 20.8%;
    color: #000;
    height: 70vh;
    overflow-y: scroll;

    margin-top: 30px;
}




.tab_content td{
    width: 180px;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    border-width: 1PX;
    padding: 5px;
    color: #e7e7e7;
    font-size: 2rem;
    border: none;
}


.tab_content tr{
    border: none;
    /* border-bottom: 1px solid red; */
    /* border: 1px solid #540505; */
    /* border-bottom:1px solid black; */
}

.tab_content th{
    font-size: 2rem;
    background-color:#38260a99;
    color:#ffffff;
    width:25vw;
    height:65px;
}

tr:nth-of-type(even) td{
    background-color:#38260a4f;
}

table tr:not(:first-child):nth-child(odd) {
    /* 在這裡指定套用到奇數行的樣式 */
    background-color:#c2bfbf50; /* 奇數行的背景色 */
}









/* --------------活動右側欄-日曆-------------- */
.calendar {
    color: #fff;
    background-color: #847062a1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 0 5px;
    border-bottom: #847062a1 5px solid; 
}



.title #prev{
    color:#fff;
}

.title #next{
    color:#fff;
}

.right .body {
    height: 251.97px;
    background-color: #fff;
}

.body-list ul {
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    background-color: #fff;
}

.body-list ul li {
    width: 14.28%;
    height: 36px;
    line-height: 36px;
    display: block;
    box-sizing: border-box;
    float: left;
    text-align: center;
    cursor: pointer;
}

ul.weekdays li{
    cursor:default;
}

#next {
    color: #502e2e;
}

.light {
    color: #42424256;
}

.dark {
    color: #424242;
}

.main_color {
    color: #FFF;
}

.todaybox {
    border: 1px solid #775050;
    background: #847062a1;
}

/* --------------活動右側欄-活動簡述-------------- */
.right .my_activity {
    padding: 20px;
    background-color: #847062cf;
    margin-top: 20px;
    clear: both;
}

.right .my_activity h2 {
    color: #FFF;
    -webkit-text-stroke: #000 1px;
    font-weight: 700;
    text-shadow: 0 4px 4px #0000004e;
    text-align: center;
    padding: 9px 0;
}

.right .my_activity p {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 10px;
}

.right .my_activity section {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 50px;
    color: white;
}

.right .my_activity a {
    display: block;
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
}

.right .my_activity a img {
    width: 80%;
}

h3{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}


/*-----捲軸改色--------*/
/* .activity_article::-webkit-scrollbar-thumb {
    background: #634921;
}

.activity_article::-webkit-scrollbar-track {
    background: none;
}

.activity_article::-webkit-scrollbar-track {
    background: #634921;
    border-radius: 10px;
} */





.right::-webkit-scrollbar-thumb {
    background: #634921;
}

.right::-webkit-scrollbar-track {
    background: none;
}

.right::-webkit-scrollbar-track {
    background: #634921;
    border-radius: 10px;
}


/* 消費紀錄 */

.tatab-content{
    width: 100%;
}

table{
    border-collapse: collapse;
}

table td{
    width: 150px;
    border: 1px solid black;
    padding: 5px;
}





/* 

#menu2 > ul{
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 5px solid #502e2e;
    margin: 10px;
}

#menu2 > ul li{
    display: flex;
    border-bottom: 1px solid #fff;
    margin-top: 30px;
    justify-content: space-around;

}

#menu2 > ul h3{
    color: white;
} */


















