
body{
    /* background-image: url(../../IMG/diary/forest.png); */
    background-image: url(../../IMG/diary/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}





.wrapper{
    /*------maxwidth會隨著螢幕大小而跟著變動,
    下面一起組合時可以導致螢幕大小變動就一起變。
    %可以隨著父層變動而變動
    ---------*/
    max-width: 1000px;
    width: 100%;

    /*--如果在外層設置時,-------------
    align-items:center;
    justify-content:center;
    ---------*/

    margin: 0 auto;
    /* border: 1px solid red; */
    /* display: flex; */
    margin-top: 30px;
    /* position: absolute; */

}

/*--->子選取器選取下一層的---*/


.wrapper01{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    /* margin-top: 150px; */
}

/*---------捲軸--------------*/
.smallnav{
    display: flex;
    position: relative;
    margin-left: 266px;
    
    /* text-align: center; */
    /* margin-bottom: 100px; */
    /* width: 1200px; */
}


/*-----------左欄---------------*/  
.left{
    width:35%;
    height: 90vh;
    margin: 0 auto;
    /* position: relative; */
    background-color: rgba(102, 84, 72, 0.6);
    /* padding-left:100%; */
    margin-right:1%;
    border-radius: 10px;
    text-decoration: underline;
    padding-top: 3%;

}

.myself h2{
    padding: 30px;

}

.girl{
    background-image: url(../../IMG/diary/grass.png);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    z-index: 1;
}

.grass{
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;

    z-index: 0;
    position:absolute;
}

ul{
    text-align: center;
    font-size: 30px;

}


/*-----------中---------------*/  

.middle{
    width:700px;
    /* height: 700px; */
    margin: 0 auto;

    background: rgba(168, 139, 119, 0.9);

}

.middletop{
    display:flex;
    
}
.big_girl{
    align-self: auto;
}

.middletop img{
    width: 50%;
    display: block;
    margin: 30px auto;
}



.idsign{
    text-align: inherit;
    padding: 50px;
    /* border: 1px solid red; */
    position: relative;
}

.pen{
    padding-left: 60px;

}



.title{
    width: 90%;
    display: flex;
    background-color: aliceblue;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 5%;

}

.big{
    padding: 10px;
}


.title_left{
    display: flex;
    position: relative;
}

.big02 h2{
    padding: 17px;
}

.title_right{
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    /* padding-top: 10px; */
}

.threepoint{
    /* position: absolute; */
    /* padding-bottom: 15px; */
    right: 10;
    display: block;
    margin-left: 65px;
    margin-bottom: 15px;
}

.titlepic{
    padding-bottom: 30px;
    padding-right: 10px;
}

.readmore{
    padding: 10px;

}


.timetag{
    border: 1px solid red;
    position: absolute;
    right: 0;
    top: 2px;;
    /* padding-top: 30px; */
}

.love{
    display: flex;
    padding-top: 30px;
    /* align-self: baseline; */
}

.search{
    position: relative;
    width: 80%;
    float: left;
    text-align: center;

}

.search-bar{
    width: 70%;
    height: 20px;
    background-color: #A88B77;
    border-radius: 30px;
    position:absolute;
    padding-left: 10px;
    /* /* left: 0; */
    font-size: 3rem;
    right: 0;
    margin: 0 auto;
    top:0;
    
}

.search-btn{
    width: 36px;
    height: 20px;
    background-color: #A88B77;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}



/*-----------右欄位---------------*/  

.right{
    width:250px;
    margin: 0 auto;
    margin-left: 1%;
    opacity:0.9;

}

.right01{
    background-color: #665448;
    width:100%;
    text-align: center;
    color: white;
    line-height: 1.5;
    /* padding-top: 40px; */
}




.right02{
    background-color: #665448;
    width: 100%;
    margin-top:50px;
    color: aliceblue;
    text-align: center;
}

